.login-container {
  background: linear-gradient(
    to right,
    rgba(254, 175, 0, 1),
    rgba(254, 175, 0, 0.5)
  );
}
.title-with-bar {
  position: relative;
  margin: 0; /* remove default margins */
}

.title-with-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #ffc107;
}
