.login-container {
  background: linear-gradient(
    to right,
    rgba(254, 175, 0, 1),
    rgba(254, 175, 0, 0.5)
  );
}
.title-with-bar {
  position: relative;
  margin: 10px auto;
  width: fit-content;
  padding-left: 12px; /* space between bar and text */
}

.title-with-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #ffc107;
}
.sidebarContainer {
  background-color: bisque;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(64, 51, 187) inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}
.img-container img {
  object-fit: cover; /* Makes the image cover the whole column without overflow */
}

.home-content {
  color: white; /* so text is visible on the image */
  z-index: 2; /* ensures text stays on top */
}
